/* general */

:root {
    --main-color:#142864;
    --secondary-color:#f0f7fd;
    --tertiary-color:#000042;
    --main-black: #000042;
    --main-gray: #828796;
    --wrapper-width: 85%;
    --wrapper-margin: calc( calc(100% - var(--wrapper-width)) / 2);
}

@font-face {
    font-family: "Quicksand";
    src: url("../font/Quicksand-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    text-overflow: ellipsis;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: #142864;
    text-decoration: none;
    vertical-align: top;
}

body {
    font-family: 'Quicksand', 'sans-serif';
    color: var(--main-black);
    letter-spacing: -0.02em;
}

h1, h2 {
    font-size: 36px;
    line-height: 1.5;
    font-weight: 800;
    letter-spacing: -0.02em;
}

p {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.01em;
}

p.light {
    color: var(--main-gray);
}

a.underline {
    text-decoration: underline;
}

/* inputs */

div.input {
    position: relative;
}

div.input:hover > input,
div.input:focus-within > input {
    border: 2px solid var(--main-black);
}

div.input:hover > i > svg,
div.input:focus-within > i > svg {
    fill: var(--main-color);
}

label {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
}

input {
    height: 40px;
    width: 100%;
    padding: 0 16px;
    border-radius: 6px;
    border: 2px solid var(--main-gray);
    line-height: 40px;
    font-size: 16px;
}

/* Icons */

i > svg {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.button {
    background: var(--main-color);
    box-shadow: 0 4px 10px rgba(20, 40, 100, 0.2);
    padding: 10px 40px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 6px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.85;
}

/* layout system */

.💪 {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
}

.💪.y-flow {
    flex-direction: column;
}

.💪.x-flow {
    flex-direction: row;
}

.💪.align-x-center {
    justify-content: center;
}

.💪.align-y-center {
    align-items: center;
}

.event {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    padding: 20px 10px;
    line-height: 24px;
    background: #f0f7fd;
    font-size: 20px;
    color: #fff;
}

.event::before {
    transform: translateX(-50%);
    border-radius: 100%;
    position: absolute;
    background: greenyellow;
    bottom: 10px;
    height: 8px;
    content: '';
    width: 8px;
    left: 50%;
}

.wrapper {
    width: var(--wrapper-width);
    height: 100%;
    margin: 0 auto;
}

.row {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.col {
    float: left;
    min-height: 1px;
    overflow: hidden;
}

.col.col-12 {
    width: 100%;
}

.col.col-9 {
    width: 75%;
}

.col.col-8 {
    width: 66.666%;
}

.col.col-6 {
    width: 50%;
}

.col.col-4 {
    width: 33.333%;
}

.col.col-3 {
    width: 25%;
}

.col.col-2 {
    width: 16.66%;
}

.col.col-1 {
    width: 8.33%;
}


.col.padding-medium {
    padding: 0 8px;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-right-5 {
    margin-right: 10px !important;
}

.margin-bottom-5 {
    margin-bottom: 10px !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-top-15 {
    margin-top: 10px !important;
}

.margin-right-15 {
    margin-right: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 10px !important;
}

.margin-left-15 {
    margin-left: 10px !important;
}

/* nav */

.clear {
    clear: both;

}

body.login aside {
    display: none;
}


body:not(.login) > .page {
    float: left;
    width: calc(100% - 240px);
    height: 100vh;
    background: var(--secondary-color);
}

body > aside {
    float: left;
    width: 240px;
    height: 100vh;
}

body > aside .row > .logo {
    height: 10%;
}

body > aside .row > .logo img {
    height: 60px;
}

body > aside .row > .menu {
    height: 80%;
}

body > aside .row > .menu > a:first-child {
    margin-top: 40px;
}

body > aside .row > .logout > a,
body > aside .row > .menu > a {
    display: flex;
    align-items: center;
    margin: 10px 20px;
    padding: 10px 0 10px 10px;
    line-height: 1.5;
    font-size: 20px;
    border-radius: 6px;
}

body > aside .row > .logout > a {
    margin: 20px 20px;

}

body > aside .row > .logout > a:hover,
body > aside .row > .menu > a:hover {
    background: var(--secondary-color);
}

body > aside .row > .logout > a > i,
body > aside .row > .menu > a > i {
    margin-left: 20px;
}

body > aside .row > .logout {
    height: 10%;
    display: flex;
    flex-direction: column-reverse;
}

body > aside .row > .logout {
    text-align: center;
}


/* calender */

.calendar {
    width: 45rem;
    height: 750px;
    background-color: #fff;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    border-radius: 6px;
}

.month {
    width: 100%;
    height: 12rem;
    background-color: #142864;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 6px 6px 0 0;
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
    color: #fff !important;
}

.month p, body:not(.login) h1 {
    color: #fff;
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.6rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: var(--secondary-color);
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color: #167e56;
}

/* login page */

body.login main {
    height: 100vh;
    width: 100vw;
}

body.login main .row .col.bg-img {
    background-repeat: no-repeat;
    opacity: 0.95;
    background-size: cover;
    background-position: center;
}

body.login main .row .col > .container {
    max-width: 60%;
}

body.login main .row .col > .container > * {
    margin-top: 30px;
}

body.login main .row > .col > .container > form > .row > .col  {
    padding: 0 16px 0 0;
}

body.login main .row > .col > .container > form input {
    padding-left: 40px;
}

body.login main .row > .col > .container > form i {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

body.login main .row > .col > .container > form .button {
    margin-top: 30px;
}

.warning {
    background: #cc3300;
    padding: 12px;
    border-radius: 6px;
}

.warning span {
    color: #ffffff;
    font-weight: 600;
}

/* popup */

.relative {
    position: relative;
}

.align-center {
    text-align: center;
}

#popups {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    display: none;
}

#popups.shown {
    display: block;
}

#popups .popup-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 400px;
    height: 200px;
    background: #ffffff;
    margin: auto;
    opacity: 1;
    padding: 20px;
}

#popups .popup-container h1 {
    color: var(--main-black);
    border: none;
    font-size: 30px;
    font-weight: 600;
    height: 30%;
}

#popups .popup-container .close {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    color: var(--main-black);
    line-height: 36px;
    font-size: 36px;
}

#popups .popup-container .content {
    height: 70%;
}

#popups .popup-container .content > form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#popups .popup-container .content > form > button {
    margin: 0 20px;
    height: 40px;
    padding: 0 20px;
}

#popups .popup-container .content > form > button:first-child {
    background: #1EE868;
}

#popups .popup-container .content > form > button:nth-child(2) {
    background: #DB3A32;
}

tr th {
    padding: 5px;
    min-height: 40px;
}

/* home page */

body:not(.login) .page .row .col .container {
    height: 750px;
}

body .page .row .col .container > .overview_user {
    background: #ffffff;
    border-radius: 6px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

body .page .row .col .container > .overview_user h1 {
    color: var(--main-black);
}

body .page .row .col .container > .overview_user p {
    text-align: left;
}

body .page .row .col .container > .overview {
    background: #ffffff;
    border-radius: 6px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}
body .page .row .col .container > .overview h2 {
    color: var(--main-black);
    margin-bottom: 20px;
}

body .page .row .col .container > .overview h2 {
    color: var(--main-black);
    margin-bottom: 20px;
}

.accepted {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: #1EE868;
}

.declined {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: #DB3A32;
}

.tba {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: #ffcc00;
}

body.adminoverview .container > * {
    background: #ffffff;
    padding: 20px;

}

body.adminoverview .container > h1 {
    color: var(--main-black);
    text-align: center;
}

body.adminoverview .button {
    padding: 2px 6px;
    height: 30px;
}

/* request */

body.request .background,
body.register .background {
    background: #ffffff;
    padding: 20px;
}

body.register .background {
    width: 70%;
    margin: 0 auto;
}


body.request .background h1,
body.register .background h1 {
    color: var(--main-black);
    text-align: center;
}

body.request .background > *,
body.register .background > * {
    margin-top: 20px;
}

body.request .background form > label,
body.register .background form > label {
    font-weight: 500;
    font-size: 20px;
}

body.request .background form > * {

}

body.request .background form > input,
body.register .background form > input {
    margin: 20px 0 30px;
}

body.request .background form > button,
body.register .background form > button {
    margin-left: 50%;
    transform: translateX(-50%);
}

