{% extends 'base.html.twig'%}
{% block body%}

    <section class="row">

        <section class="col col-12 💪 align-x-center align-y-center">

            <div class="container">

                <h1>Ausstehende Anträge</h1>

                <table class="requests">
                    <tr>
                        <th>
                            <p>Antragsart</p>
                        </th>
                        <th>
                            <p>Vorname</p>
                        </th>
                        <th>
                            <p>Nachname</p>
                        </th>
                        <th>
                            <p>Beginn</p>
                        </th>
                        <th>
                            <p>Ende</p>
                        </th>
                        <th>
                            <p>Status</p>
                        </th>

                        <th>

                        </th>

                    </tr>

                    {% for key, eventDetail in events %}
                        <tr>
                            <th>
                                {% if eventDetail.type == '1' %}
                                    Urlaub
                                {% else %}
                                    Andere
                                {% endif %}
                            </th>
                            <th>
                                {{ eventDetail.first_name }}
                            </th>
                            <th>
                                {{ eventDetail.last_name }}
                            </th>
                            <th>
                                {{ eventDetail.date_start }}
                            </th>
                            <th>
                                {{ eventDetail.date_end }}
                            </th>
                            <th class="💪 align-y-center align-x-center">
                                {% if eventDetail.status == '1' %}
                                    <div class="accepted"></div>
                                {% elseif eventDetail.status == '2' %}
                                    <div class="declined"></div>
                                {% else %}
                                    <div class="tba"></div>
                                {% endif %}
                            </th>
                            <th>
                                <button class="button" data-id="{{ eventDetail.id }}">Bearbeiten</button>
                            </th>
                        </tr>
                    {% endfor %}

                </table>

            </div>

        </section>

    </section>

{% endblock %}