<aside>

    <section class="row 💪 y-flow">

        <section class="logo 💪 align-x-center align-y-center">

            <a href="{{ baseUrl }}">
                <img src="{{ imgUrl }}UP.svg">
            </a>

        </section>

        <section class="menu">

            <a href="{{ baseUrl }}">
                Dashboard <i class="fas fa-tachometer-alt"></i>
            </a>


            {% if isAdmin == false %}

                <a href="{{ baseUrl }}request">
                    Antrag stellen <i class="fab fa-buffer"></i>
                </a>

            {% endif %}

            {% if isAdmin == true %}

                <a href="{{ baseUrl }}AdminOverview">
                    Adminansicht <i class="fas fa-tasks"></i>
                </a>

            {% endif %}

        </section>

        <section class="logout">

            <a href="{{ baseUrl }}login/logout">
                Logout <i class="fas fa-sign-out-alt"></i>
            </a>

        </section>


    </section>

</aside>