<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/png" href="{{ imgUrl }}favicon.svg"/>
        <title>{% block title %}Urlaubsplaner{% endblock %}</title>
        {% block javascripts%}
            <script src="jquery-3.6.0.min.js"></script>
            <script src="script.js"></script>
            <script src="{{ jsUrl }}pwaInstaller.js"> </script>
        {% endblock %}

        {% block stylesheets%}
            <link rel="stylesheet" href="css/style.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
            <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
            <link rel="manifest" href="./manifest.webmanifest">
        {% endblock %}
    </head>
    <body class="{{ controller }}">
        {% include 'aside.html.twig' %}
        <div class="page">
            {% block body %}
            {% endblock %}
        </div>
        <div class="clear"></div>
        <div id="popups"></div>
    </body>
</html>