{% extends 'base.html.twig'%}
{% block body%}

<section class="row">

    <section class="col col-8 💪 align-y-center align-x-center">

        <div class="container">

            <div class="calendar">
                <div class="month">
                    <a href="home{{ prev }}">
                        <i class="fas fa-angle-left prev"></i>
                    </a>
                    <div class="date">
                        <h1>{{ month }}</h1>
                        <p>{{ current }}</p>
                    </div>
                    <a href="home{{ next }}">
                        <i class="fas fa-angle-right next"></i>
                    </a>
                </div>
                <div class="weekdays">
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                    <div>Sun</div>
                </div>
                <div class="days">
                    {% for item in days %}
                        {% if checkDaysBetweenEventDay(event,item['day']|date('Y-m-d')) %}
                            <div class="event">{{ item['day']|date('d') }}</div>
                        {% else %}
                            <div>{{ item['day']|date('d') }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>


    </section>

    <section class="col col-3 💪 align-y-center align-x-center">


        <div class="container">

            <div class="overview_user 💪 align-y-center y-flow">

                <h1 class="align-center">Moin {{ user.first_name }}!</h1>
                <p>Dieses Jahr hast Du {{ user.vac_days }} Tage Urlaub </p>
                <p>Davon sind noch {{ holidaysLeft }} Tage übrig</p>

            </div>

            <div class="overview">

                <div class="overview-content">

                    <h2 class="align-center">Ihre Anträge</h2>
                    <table>
                        <tr>
                            <th>
                                Status
                            </th>
                            <th>
                                Antragsart
                            </th>
                            <th>
                                Beginn
                            </th>
                            <th>
                                Ende
                            </th>
                        </tr>
                        {% for key, eventDetail in holidays %}
                            <tr>
                                <th class="💪 align-y-center align-x-center">
                                    {% if eventDetail.status == 'Genehmigt' %}
                                        <div class="accepted"></div>
                                    {% elseif eventDetail.status == 'Abgelehnt' %}
                                        <div class="declined"></div>
                                    {% else %}
                                        <div class="tba"></div>
                                    {% endif %}
                                </th>
                                <th>
                                    {{ eventDetail.type }}
                                </th>
                                <th>
                                    {{ eventDetail.date_start }}
                                </th>
                                <th>
                                    {{ eventDetail.date_end }}
                                </th>
                            </tr>
                        {% endfor %}
                    </table>

                </div>

            </div>

        </div>

    </section>

    <section class="col col-1"></section>


    </section>

{% endblock %}