{% extends 'base.html.twig'%}

{% block body %}

    <main class="">

        <section class="wrapper row">

            <section class="col col-6 💪 align-y-center align-x-center y-flow">

                <div class="container">

                    <h1>Der Urlaubsplaner</h1>

                    <p class="light">Here you can organize and plan your team's vacation. Please ask your team organizer, if you don't have a login. </p>

                    {% if MESSAGE_TYPE == 'ERROR' %}

                        <div class="warning">

                            <span>{{ MESSAGE }}</span>

                        </div>

                    {% endif %}

                    <form name="login" method="post" action="{{ baseUrl }}login/validate">

                        <section class="row">

                            <section class="col col-6 💪 y-flow padding-medium">

                                <label for="user_name">Username</label>

                                <div class="input">

                                    <input type="text" placeholder="Username" name="user_name">

                                    <i class="user">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c2.757 0 5 2.243 5 5.001 0 2.756-2.243 5-5 5s-5-2.244-5-5c0-2.758 2.243-5.001 5-5.001zm0-2c-3.866 0-7 3.134-7 7.001 0 3.865 3.134 7 7 7s7-3.135 7-7c0-3.867-3.134-7.001-7-7.001zm6.369 13.353c-.497.498-1.057.931-1.658 1.302 2.872 1.874 4.378 5.083 4.972 7.346h-19.387c.572-2.29 2.058-5.503 4.973-7.358-.603-.374-1.162-.811-1.658-1.312-4.258 3.072-5.611 8.506-5.611 10.669h24c0-2.142-1.44-7.557-5.631-10.647z"/></svg>

                                    </i>

                                </div>

                            </section>

                            <section class="col col-6 💪 y-flow padding-medium">

                                <label for="password">Password</label>

                                <div class="input">

                                    <input type="password" placeholder="Password" name="password">

                                    <i class="password">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 10v-4c0-3.313-2.687-6-6-6s-6 2.687-6 6v4h-3v14h18v-14h-3zm-5 7.723v2.277h-2v-2.277c-.595-.347-1-.984-1-1.723 0-1.104.896-2 2-2s2 .896 2 2c0 .738-.404 1.376-1 1.723zm-5-7.723v-4c0-2.206 1.794-4 4-4 2.205 0 4 1.794 4 4v4h-8z"/></svg>

                                    </i>

                                </div>

                            </section>

                        </section>

                        <button class="button">login</button>

                    </form>

                    <p class="light">Need an Admin Account? <a href="{{ baseUrl }}register" class="underline">Register here</a></p>

                </div>

            </section>

            <section class="col col-6 💪 bg-img" style="background-image: url('{{ RANDOM_IMG }}');"></section>

        </section>

    </main>

{% endblock %}