{% extends 'base.html.twig' %}
{% block body %}

    <section class="row">

        <section class="col col-12 💪 align-x-center align-y-center">

            <div class="container">

                <div class="background 💪 y-flow">

                    <h1>Ausstehende Anträge</h1>

                    <form id='register' action="{{ baseUrl }}/register/newUser" method='post'>
                        <label for="Username">Username</label>
                        <input type="text" name="Username" placeholder="Username" required>
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" placeholder="First name" required>
                        <label for="Username">Last Name</label>
                        <input type="text" name="last_name" placeholder="Last name" required>
                        <label for="Password">Password</label>
                        <input type="password" name="Password" placeholder="Password" required>
                        <label for="birthday">Birthday</label>
                        <input type="date" name="birthday" placeholder="Birthday" required>
                        <button class="button" type='submit' name="register">Register</button>
                    </form>

                    <a href="{{ baseUrl }}login">Already Member ? Sign In Now..</a>


                </div>

            </div>

        </section>

    </section>

{% endblock %}