{% extends 'base.html.twig'%}
{% block body%}

    <section class="row">

        <section class="col col-12 💪 align-x-center align-y-center">

            <div class="container">

                <div class="background 💪 y-flow">

                    <h1>Antrag erstellen</h1>

                    <form method="get" action="{{ baseUrl }}request/addRequest">

                        <label for="form[date_start]">Start Datum</label>
                        <input type="date" name="form[date_start]">

                        <label for="form[date_end]">End Datum</label>
                        <input type="date" name="form[date_end]">

                        <button class="button">Abschicken</button>

                    </form>

                </div>

            </div>


        </section>

    </section>

{% endblock %}